<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/public/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<div class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">请登陆</h1>
    <label for="inputUsername">用户名</label>
    <input id="inputUsername" class="form-control" placeholder="User Name" required autofocus
           value="admin">

    <label for="inputPassword">密码</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
           value="519475228fe35ad067744465c42a19b2" required>

    <label for="inputCaptcha">验证码</label>
    <div>{:captcha_img()}</div>
    <input id="inputCaptcha" class="form-control" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> 记住我
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" onclick="checkLogin()">登陆</button>
    <p class="mt-5 mb-3 text-muted">&copy; Marc LAW 2018-2019</p>
</div>
<script src="/public/js/jquery.min.js"></script>

<script src="/public/js/popper.min.js"></script>

<script src="/public/js/bootstrap.min.js"></script>

<script type="application/javascript">

    $(function () {

        //console.info($('#inputUsername').val());

    });

    function simpleVerify(username, password) {

        if (username == '' || password == '') {
            alert('用户名或密码不能为空'); //alert('用户名或密码不能为空');
            return true;
        }

    }


    function checkLogin() {
        //console.info('我怎么成了前端了, 麻痹的');
        var username = $('#inputUsername').val();
        var password = $('#inputPassword').val();

        //if (simpleVerify(username, password)) {
        //return;
        // }

        //console.info(username);
        //console.info(password);

        $.ajax({
            url: 'loginCheck.html',
            data: {username: username, password: password},
            type: 'post',
            success: function (res) {
                //这里应该有个json转js obj的过程
                console.info(res);
                if (res.success == 1) {
                    //top.location.href = res.url;
                    console.info('用户存在');
                } else {
                    alert(res.msg);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('网络失败，请刷新页面后重试');
            }
        });

    }
</script>
</body>

</html>
