<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/public/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">请登陆</h1>
    <label for="inputUsername" class="sr-only">用户名</label>
    <input type="userName" id="inputUsername" class="form-control" placeholder="User Name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> 记住我
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="checkLogin()">登陆</button>
    <p class="mt-5 mb-3 text-muted">&copy; Marc LAW 2018-2019</p>
</form>

<script src="/public/js/jquery.slim.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>

</body>
<script>

    function simpleVerify(username, password) {

        if (username == '' || password == '') {
            alert('用户名或密码不能为空', {icon: 2}); //alert('用户名或密码不能为空');
            return;
        }

    }

    function checkLogin() {
        //console.info('我怎么成了前端了, 麻痹的');
        var username = $('#inputUsername').val();
        var password = $('#inputPassword').val();

        simpleVerify(username, password);
    }
</script>
</html>
