<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/dashboard.css" rel="stylesheet">
    <title>Hello, world!</title>
</head>
<body>
<h2 class="sub-header">Admin Log</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>角色名称</th>
            <th>描述</th>
            <th>IP</th>
            <th>操作时间</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td>{$vo.log_id}</td>
            <td>{$vo.admin.user_name}</td>
            <td>{$vo.log_info}</td>
            <th>{$vo.log_ip}</th>
            <td>{$vo.log_time|date="Y-m-d H:i:s",###}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-6 text-left"></div>
    <div class="col-sm-6 text-right">{$list->render()}</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/public/js/jquery.slim.min.js"></script>

<script src="/public/js/popper.min.js"></script>

<script src="/public/js/bootstrap.min.js"></script>

</body>
</html>