{include file="Index@public/head"/}

<body>
<h2 class="sub-header">会员列表(User表)</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>会员昵称</th>
            <th>会员等级</th>
            <th>折扣</th>
            <th>余额</th>
            <th>邮件地址</th>
            <th>注册日期</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td>{$vo.user_id}</td>
            <td>{$vo.nickname}</td>
            <td>{$vo.level_name}</td>
            <td>{$vo.discount}</td>
            <td>{$vo.user_money}</td>
            <td>{$vo.email}</td>
            <td>{$vo.reg_time|date="Y-m-d H:i:s",###}</td>
            <td><a class="btn btn-primary btn-sm" href="user/userDetail?id={$vo.user_id}">详情</a>
                <span class="delete_span">
                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"
                       name="{$vo.user_id}">删除</a>
                </span>

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>

{include file="Index@public/page"/}

<!-- 先注掉
<!-- Optional JavaScript
<!-- jQuery first, then Popper.js, then Bootstrap JS
<script src="/public/js/jquery.slim.min.js"></script>

<script src="/public/js/popper.min.js"></script>

<script src="/public/js/bootstrap.min.js"></script>

-->


<!-- 模态框（Modal） -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModalLabel">确定删除?</h5>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="delete_confirm_btn">确定</button>
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script src="/public/js/user/UserIndex.js"></script>

</body>
</html>